<div class="container">
    <nav class="row">
        <ul class="col nav nav-pills">
            <li class="nav-item nav-link">
                <a routerLinkActive="active" routerLink="home" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item nav-link">
                <a routerLinkActive="active" routerLink="tasks" class="nav-link">Tareas</a>
            </li>
            <li class="nav-item nav-link">
                <a routerLinkActive="active" routerLink="contacts" class="nav-link">Contactos</a>
            </li>
            <li class="nav-item nav-link">
                <a routerLinkActive="active" routerLink="books" class="nav-link">Libros</a>
            </li>
            <li class="nav-item nav-link">
                <a routerLinkActive="active" routerLink="about" class="nav-link">Acerca de</a>
            </li>
        </ul>
    </nav>
</div>
